@Lobster: "Lobster", cursive;
@Comme: "Comme", sans-serif;

@black-text-color: #000000;

@alto-element-color: #D9D9D9;
@blush-element-color: rgba(231, 130, 130, 0.51);
@black-element-color: #000000;

@modal-backgroup-element-color: rgba(217, 217, 217, 0.5);