@import "/src/styles/fonts/google_fonts.css";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?nehuwl");
  src: url("fonts/icomoon.eot?nehuwl#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?nehuwl") format("truetype"), url("fonts/icomoon.woff?nehuwl") format("woff"), url("fonts/icomoon.svg?nehuwl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-location:before {
  content: "\e947";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?cczhdm");
  src: url("fonts/icomoon.eot?cczhdm#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?cczhdm") format("truetype"), url("fonts/icomoon.woff?cczhdm") format("woff"), url("fonts/icomoon.svg?cczhdm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-trash1:before {
  content: "\e905";
}
