@import "../../../styles/variables.less";

.footer {
  padding: 10px;
  background-color: @blush-element-color;
  &__container {
    .container();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
