.basket {
  display: none;
  margin: 0 auto;
  width: 500px;
  position: absolute;
  z-index: 99;
  top: 70px;
  left: 50%;
  background-color: @blush-element-color-bright;
  @media screen and (max-width: 1050px) {
    left: 45%;
  }
  @media screen and (max-width: 930px) {
    left: 40%;
  }
  @media screen and (max-width: 855px) {
    left: 35%;
  }
  @media screen and (max-width: 785px) {
    left: 30%;
  }
  @media screen and (max-width: 730px) {
    left: 25%;
  }
  @media screen and (max-width: 685px) {
    left: 20%;
  }
  @media screen and (max-width: 640px) {
    left: 15%;
  }
  @media screen and (max-width: 606px) {
    left: 10%;
  }
  @media screen and (max-width: 580px) {
    left: 5%;
  }
  @media screen and (max-width: 550px) {
    left: 3%;
  }
  @media screen and (max-width: 520px) {
    left: 0%
    width: 450px;
  }
  @media screen and (max-width: 460px) {
    width: 400px;
  }
  @media screen and (max-width: 420px) {
    width: 350px;
  }
  @media screen and (max-width: 370px) {
    width: 300px;
  }
  @media screen and (max-width: 330px) {
    width: 270px;
  }
  @media screen and (max-width: 290px) {
    width: 240px;
  }

  &_head {
    display: flex;
    justify-content: space-between;
    background-color: @alto-element-color;
    height: 59px;
    width: 100%;
    h2 {
      padding: 5px;
      font-size: 30px;
      @media screen and (max-width: 460px) {
        font-size: 25px;
      }
      @media screen and (max-width: 371px) {
        font-size: 20px;
      }
      @media screen and (max-width: 330px) {
        font-size: 15px;
       }
    }
  }
  &_close {
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    padding-bottom: 20px;
    cursor: pointer;

    &:hover {
      color: @blush-element-color-bright;
    }
  }
  &_delete-button {
    border-style: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    @media screen and (max-width: 460px) {
      font-size: 22px;
    }
    @media screen and (max-width: 371px) {
      font-size: 18px;
    }
    @media screen and (max-width: 330px) {
      font-size: 16px;
     }
    &:hover {
      color: @blush-element-color-bright;
    }
  }
  &-field {
    &_wrapper {
      display: flex;
      flex-direction: column;
      &_total-price {
        text-align: end;
        font-size: 25px;
        padding: 10px;
        @media screen and (max-width: 520px) {
          text-align: center;
        }
        @media screen and (max-width: 380px) {
          text-align: start;
          padding-left: 15px;
        }
      }
    }
  }
  &-card {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    &_img {
      height: 100px;
      img {
        height: 100%;
      }
    }
    &_info {
      &_name {
        margin-top: 10px;
        width: 150px;
        font-size: 18px;
        @media screen and (max-width: 320px) {
          width: 80px;
         }
      }
      &_price {
        font-size: 16px;
      }
    }
    &_quantity {
      display: flex;
      margin-top: 10px;
      align-items: center;
      &_minus {
        border-style: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-family: @Comme;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          color: @alto-element-color;
        }
      }
      &_plus {
        border-style: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-family: @Comme;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          color: @alto-element-color;
        }
      }
      &_number {
        font-family: @Comme;
        font-size: 15px;
      }
    }
    &_btn {
      display: flex;
      justify-content: end;
      padding: 10px;
      align-items: center;
      cursor: pointer;
    }
  }
}
