.close {
  display: block;
  margin: 0 auto;
  border: none;
  color: black;
  cursor: pointer;
}
.basket {
  display: none;
  width: 70%;
  height: 70%;
  position: absolute;
  z-index: 99;
  top: 0;
  background-color: rgba(231, 130, 130, 0.51);
}
h2 {
  color: @black-text-color;
  font-size: 35px;
  text-align: center;
  margin-top: 30px;
}
.basket .basket-field {
  max-width: 100%;
  height: auto;
  background-color: rgba(231, 130, 130, 0.51);
  justify-content: space-between;
  margin: 0 auto;
}
.close {
  background: transparent;
  font-size: 26px;
  margin-top: 10px;
}
.basket-field_wrapper{
  display: flex;
  flex-direction: column;
}
.basket-card {
  display: flex;

  

  &_img {
    img{
      height: 150px;
      width: auto;
    }
  }
  &_info {
    &_name {
    }
    &_price {
    }
  }
  &_btn {
  }
}
