.basket {
  display: none;
  margin: 0 auto;
  width: 500px;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 125px;
  background-color: @blush-element-color-bright;
  &_head {
    display: flex;
    justify-content: space-between;
    background-color: @alto-element-color;
    height: 59px;
    width: 100%;
    h2{
      padding: 5px;
      font-size: 30px;
    }
  }
  &_close {
    background-color: transparent;
    border-style: none;
    font-size: 25px;
    padding-bottom: 20px;
    cursor: pointer;
    &:hover{
      color: @blush-element-color-bright;
    }
  }
  &_delete-button {
    border-style: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    &:hover{
      color: @blush-element-color-bright;
    }
  }
  &-field {
    &_wrapper {
      display: flex;
      flex-direction: column;
      &_total-price{
        text-align: end;
        font-size: 25px;
        padding: 10px;
      }
    }
  }
  &-card {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    &_img {
      height: 100px;
      img {
        height: 100%;
      }
    }
    &_info {
      &_name {
        margin-top: 10px;
        width: 150px;
        font-size: 18px;
      }
      &_price {
        font-size: 16px;
      }
    }
    &_quantity {
      display: flex;
      margin-top: 10px;
      align-items: center;
      &_minus {
        border-style: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-family: @Comme;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        &:hover{
          color: @alto-element-color;
        }
      }
      &_plus {
        border-style: none;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        font-family: @Comme;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
        &:hover{
          color: @alto-element-color;
        }
      }
      &_number {
        font-family: @Comme;
        font-size: 15px;
      }
    }
    &_btn {
      display: flex;
      justify-content: end;
      padding: 10px;
      align-items: center;

    }
  }
}
