.swiper {
  display: flex;
  height: 760px;
  margin: 0 auto;
  border: 2px solid red;
  box-sizing: content-box;

  &-slide {
    display: flex;

    img {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-button {
    &-prev {
      background-color: #bb8b5f30;
      left: 20px;
      &:after {
        color: #111;
        font-size: 90px;
        @media screen and (max-width: 600px) {
          font-size: 50px;
        }
      }
    }
    &-next {
      &:after {
        color: #111;
        font-size: 90px;
        @media screen and (max-width: 600px) {
          font-size: 50px;
        }
      }
      background-color: #bb8b5f30;
      right: 20px;
    }
  }
  &-pagination {
    &-bullet {
      background-color: transparent;
      width: 15px;
      height: 15px;
      opacity: 1;
      border-radius: 10px;
      border: 2px solid #e78282;
      &-active {
        background-color: #e78282;
      }
    }
  }
}

@media (max-width: 1250px) {
  .swiper {
    height: 500px;
  }
}

@media (max-width: 950px) {
  .swiper {
    height: 400px;
  }
}

@media (max-width: 650px) {
  .swiper {
    height: 250px;
  }
}
