@import "../../styles/variables.less";
@import "../../styles/fonts/iconomoon/variables.less";

.main-search__search-form {
  position: relative;
  input {
    padding-left: 25px;
    width: 100%;
    background-color: @blush-element-color;
    border: 0px;
    outline: none;
    &::placeholder {
      color: @black-text-color;
      font-weight: 500;
      font-family: @Lobster;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover {
      -webkit-text-fill-color: black;
      transition: background-color 5000s ease-in-out 0s;
      font-family: @Lobster;
    }
  }
  .main-search__action {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    &_search {
      left: 0;
    }
    &_refined {
      right: 0;
      span {
        pointer-events: none;
      }
      span:before {
        content: "+";
        display: block;
        color: @black-element-color;
        transform: rotate(45deg);
        font-size: 16px;
      }
    }
  }
}

.main-search {
  ol {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 10px #0005;
    border-radius: 0 0 5px 5px;
  }

  &.main-search_refined {
    .main-search__action_refined,
    .main-search__result-list {
      display: none;
    }
  }
}
