@import "../../styles/variables.less";
@import "../../styles/fonts/iconomoon/variables.less";
@import "../../styles/mixins.less";

.main-search__search-form {
  position: relative;

  input {
    padding: 10px;
    padding-left: 45px;
    width: 100%;
    background-color: @alto-element-color;
    border: 0px;
    outline: none;
    &::placeholder {
      color: @black-text-color;
      font-weight: 500;
      font-family: @Lobster;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover {
      -webkit-text-fill-color: black;
      transition: background-color 5000s ease-in-out 0s;
      font-family: @Lobster;
    }
  }
  .main-search__action {
    background: transparent;
    border: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    &_search {
      left: 0;
      .icon-search::before {
        font-size: 25px;
      }
    }
    &_refined {
      cursor: pointer;
      right: 0;
      font-size: 15px;
      span {
        pointer-events: none;
      }
    }
  }
}

.main-search {
  &__result-list {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 10px #0005;
    border-radius: 0 0 5px 5px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  &.main-search_refined {
    .main-search__action_refined,
    .main-search__result-list {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .main-search {
    &__search-form {
      input {
        padding: 10px 30px;
        &::placeholder {
          font-size: 0.9em;
        }
      }
    }
    &__action_search .icon-search:before {
      font-size: 20px;
    }
  }
}
