@import "../../../styles/variables.less";

.header {
  background-color: @blush-element-color;

  &__container {
    .container();
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .logo {
    max-width: 80px;
    max-height: 70px;
  }

  .main-search {
    width: 800px;
    position: relative;
    margin: 0 20px;
  }

  .icon-cart::before {
    font-size: 20px;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 5px;
    .logo {
      max-width: 45px;
      max-height: 45px;
    }
  }
}
